\subsection{Выборочные моменты}

Для описания характеристик заданной числовой последовательности вспомним некоторые формулы из курса математической статистики.

Из определения математического ожидания выборки:
\[
    \mu(A) = \dfrac{1}{n}\sum_{i=1}^nA_i
\]

Для оценки дисперсии применим следующие формулы:

\[
    D(A)\approx\begin{cases}
        S^2_0 = \dfrac{1}{n-1}\sum_{i=1}^n(A_i-\overline{A})^2,& n<100\\
        S^2 = \dfrac{1}{n}\sum_{i=1}^n(A_i-\overline{A})^2,& n\geq 100
    \end{cases},
\]

где \( S^2 \) --- смещённая выборочная дисперсия, а \( S^2_0 \) --- несмещённая выборочная дисперсия.

Для оценки среднеквадратического отклонения \( \sigma \) имеем:
\[
    D(A)=\sigma^2\implies\sigma(A)=\sqrt{D(A)}
\]

Для оценки коэффициента вариации \( V \) используем формулу:
\[
    V(A) = \dfrac{\sigma(A)}{\mu(A)} \times 100\%
\]

Пусть \( A\sim\mathcal{F}_\mu \), тогда найдём доверительный интервал уровня доверия \( \alpha\equiv 1-\varepsilon \) для параметра \( \mu \). Из центральной предельной теоремы получаем:
\begin{equation}
    G_\mu(A)=\sqrt{n}\cdot\dfrac{\overline{X}-\mu}{\sigma}\xrightarrow[n\to 0]{}\mathcal{N}(0,1)\label{eq:central_limit_theorem}
\end{equation}

По определению доверительного интервала:
\begin{equation}
    P(\abs{G_\mu}<c)=\alpha,\ c \text{ --- квантиль }\mathcal{N}(0,1)\label{eq:confidence_interval}
\end{equation}

Квантили для указанного распределения известны:

\begin{table}[H]
\centering
\begin{tblr}{
    colspec = {c c c c},
    hlines,
    vlines,
    cells = {c, m},
}
\textbf{Уровень доверия} & 0,9 & 0,95 & 0,99 \\
\textbf{Квантиль} & 1,645 & 1,960 & 2,576 \\
\end{tblr}
\caption{Квантили стандартного нормального распределения}
\end{table}

Из \eqref{eq:central_limit_theorem} и \eqref{eq:confidence_interval} следует, что:
\[
    \Delta \mu(A) = \abs{\overline{X}-\mu} = c\cdot\dfrac{\sigma(A)}{\sqrt{n}}
\]

Рассчитанные значения характеристик заданной числовой последовательности представлены в таблице \ref{tab:sequence_characteristics}.

\begin{table}[H]
\centering
\resizebox{\linewidth}{!}{%
\begin{tblr}{
    colspec = {|c|c|c|c|c|c|c|c|},
    hlines,
    vlines,
    cells = {c, m},
}
\SetCell[r=2]{c} \textbf{Момент} & & \SetCell[c=6]{c} \textbf{Размер выборки} & & & & & \\
 & & \textbf{10} & \textbf{20} & \textbf{50} & \textbf{100} & \textbf{200} & \textbf{300} \\

% Среднее значение \mu(A)
\SetCell[r=2]{c} $\mu(A)$ & \textbf{1} & \VAR{ mu.abs_10 } & \VAR{ mu.abs_20 } & \VAR{ mu.abs_50 } & \VAR{ mu.abs_100 } & \VAR{ mu.abs_200 } & \SetCell[r=2]{c}\VAR{ mu.total } \\
 & \textbf{\%} & \VAR{ mu.rel_10 } & \VAR{ mu.rel_20 } & \VAR{ mu.rel_50 } & \VAR{ mu.rel_100 } & \VAR{ mu.rel_200 } &  \\

% Доверительный интервал \Delta\mu (\alpha=0.9)
\SetCell[r=2]{c} {$\Delta\mu$\\$(\alpha=0{,}9)$} & \textbf{1} & \VAR{ d_mu_90.abs_10 } & \VAR{ d_mu_90.abs_20 } & \VAR{ d_mu_90.abs_50 } & \VAR{ d_mu_90.abs_100 } & \VAR{ d_mu_90.abs_200 } & \SetCell[r=2]{c}\VAR{ d_mu_90.total } \\
 & \textbf{\%} & \VAR{ d_mu_90.rel_10 } & \VAR{ d_mu_90.rel_20 } & \VAR{ d_mu_90.rel_50 } & \VAR{ d_mu_90.rel_100 } & \VAR{ d_mu_90.rel_200 } & \\

% Доверительный интервал \Delta\mu (\alpha=0.95)
\SetCell[r=2]{c} {$\Delta\mu$\\$(\alpha=0{,}95)$} & \textbf{1} & \VAR{ d_mu_95.abs_10 } & \VAR{ d_mu_95.abs_20 } & \VAR{ d_mu_95.abs_50 } & \VAR{ d_mu_95.abs_100 } & \VAR{ d_mu_95.abs_200 } & \SetCell[r=2]{c}\VAR{ d_mu_95.total } \\
 & \textbf{\%} & \VAR{ d_mu_95.rel_10 } & \VAR{ d_mu_95.rel_20 } & \VAR{ d_mu_95.rel_50 } & \VAR{ d_mu_95.rel_100 } & \VAR{ d_mu_95.rel_200 } & \\

% Доверительный интервал \Delta\mu (\alpha=0.99)
\SetCell[r=2]{c} {$\Delta\mu$\\$(\alpha=0{,}99)$} & \textbf{1} & \VAR{ d_mu_99.abs_10 } & \VAR{ d_mu_99.abs_20 } & \VAR{ d_mu_99.abs_50 } & \VAR{ d_mu_99.abs_100 } & \VAR{ d_mu_99.abs_200 } & \SetCell[r=2]{c}\VAR{ d_mu_99.total } \\
 & \textbf{\%} & \VAR{ d_mu_99.rel_10 } & \VAR{ d_mu_99.rel_20 } & \VAR{ d_mu_99.rel_50 } & \VAR{ d_mu_99.rel_100 } & \VAR{ d_mu_99.rel_200 } & \\

% Дисперсия D(A)
\SetCell[r=2]{c} $D(A)$ & \textbf{1} & \VAR{ var.abs_10 } & \VAR{ var.abs_20 } & \VAR{ var.abs_50 } & \VAR{ var.abs_100 } & \VAR{ var.abs_200 } & \SetCell[r=2]{c}\VAR{ var.total }\\
 & \textbf{\%} & \VAR{ var.rel_10 } & \VAR{ var.rel_20 } & \VAR{ var.rel_50 } & \VAR{ var.rel_100 } & \VAR{ var.rel_200 } & \\

% СКО \sigma(A)
\SetCell[r=2]{c} $\sigma(A)$ & \textbf{1} & \VAR{ std.abs_10 } & \VAR{ std.abs_20 } & \VAR{ std.abs_50 } & \VAR{ std.abs_100 } & \VAR{ std.abs_200 } & \SetCell[r=2]{c}\VAR{ std.total } \\
 & \textbf{\%} & \VAR{ std.rel_10 } & \VAR{ std.rel_20 } & \VAR{ std.rel_50 } & \VAR{ std.rel_100 } & \VAR{ std.rel_200 } & \\

% Коэффициент вариации V(A)
\SetCell[r=2]{c} $V(A)$ & \textbf{1} & \VAR{ cv.abs_10 } & \VAR{ cv.abs_20 } & \VAR{ cv.abs_50 } & \VAR{ cv.abs_100 } & \VAR{ cv.abs_200 } & \SetCell[r=2]{c}\VAR{ cv.total } \\
 & \textbf{\%} & \VAR{ cv.rel_10 } & \VAR{ cv.rel_20 } & \VAR{ cv.rel_50 } & \VAR{ cv.rel_100 } & \VAR{ cv.rel_200 } & \\
\end{tblr}%
}
\caption{Характеристики заданной последовательности (вариант \underline{\VAR{ variant_number }})}
\label{tab:sequence_characteristics}
\end{table}

\subsection{Характер данной выборки}

Построим график заданной выборки, чтобы визуально оценить её характер:

\begin{figure}[H]
    \centering
    \includegraphics[width=0.8\textwidth]{\VAR{ sequence_plot_path }}
    \caption{График заданной числовой последовательности (вариант \underline{\VAR{ variant_number|default(108) }})}
    \label{fig:sequence_plot}
\end{figure}

\textbf{Вывод:}
\begin{enumerate}
    \item \textbf{Анализ монотонности:} На исследуемой области определения выборки наблюдается чередование участков возрастания и убывания. Следовательно, выборка не является монотонной на всём рассматриваемом интервале.
    \item \textbf{Анализ периодичности:} Ярко выраженная периодичность на рассматриваемом промежутке отсутствует, в ходе графического анализа не удалось выявить колебания.
\end{enumerate}

\subsection{Автокорреляционный анализ}

Формула...

\begin{table}[H]
\centering
\begin{tblr}{
    colspec = {|c|c|c|c|c|c|},
    hlines,
    vlines,
    cells = {c, m},
}
$\boldsymbol{k}$ & 1 & 2 & 3 & 4 & 5 \\
$\boldsymbol{\rho_k}$ & \VAR{ autocorr.abs_1 } & \VAR{ autocorr.abs_2 } & \VAR{ autocorr.abs_3 } & \VAR{ autocorr.abs_4 } & \VAR{ autocorr.abs_5 } \\
\textbf{\%} & \VAR{ autocorr.rel_1 } & \VAR{ autocorr.rel_2 } & \VAR{ autocorr.rel_3 } & \VAR{ autocorr.rel_4 } & \VAR{ autocorr.rel_5 } \\
\hline
$\boldsymbol{k}$ & 6 & 7 & 8 & 9 & 10 \\
$\boldsymbol{\rho_k}$ & \VAR{ autocorr.abs_6 } & \VAR{ autocorr.abs_7 } & \VAR{ autocorr.abs_8 } & \VAR{ autocorr.abs_9 } & \VAR{ autocorr.abs_10 } \\
\textbf{\%} & \VAR{ autocorr.rel_6 } & \VAR{ autocorr.rel_7 } & \VAR{ autocorr.rel_8 } & \VAR{ autocorr.rel_9 } & \VAR{ autocorr.rel_10 } \\
\end{tblr}
\caption{Числовые результаты автокорреляционного анализа}
\label{tab:autocorrelation_results}
\end{table}

\begin{figure}[H]
    \centering
    \includegraphics[width=0.8\textwidth]{\VAR{ autocorr_plot_path }}
    \caption{Графические результаты автокорреляционного анализа (вариант \underline{\VAR{ variant_number|default(108) }})}
    \label{fig:autocorrelation_plot}
\end{figure}

Вывод...

\subsection{Гистограмма данной выборки}

Введём следующее разбиение для данной выборки:
\[
    \tau = \{ \VAR{ hist_nodes | map('round', 2) | join('; ') } \}
\]

Обозначим полуинтервалы разбиения следующим образом:
\begin{align*}
    \Delta_i &= [\tau_i, \tau_{i+1}),\ i=\overline{0, \VAR{ hist_bins|length - 1 }}\\
    l_i &= \abs{\tau_{i+1}-\tau_i},\ i=\overline{0, \VAR{ hist_bins|length - 1 }}
\end{align*}

Определим частоты \( \nu_i \) попадания элементов выборки в каждый полуинтервал \( \Delta_i \) разбиения:

\BLOCK{ set half = (hist_bins|length / 2)|round(0, 'ceil')|int }
\begin{table}[H]
\centering
\begin{tblr}{
    colspec = {|c|c|c||c|c|c|},
    hlines,
    vlines,
    cells = {c, m},
}
$i$ & $\Delta_i$ & $\nu_i$ & $i$ & $\Delta_i$ & $\nu_i$ \\
\BLOCK{ for left_item in hist_bins[:half] }
  \BLOCK{- set right_idx = loop.index0 + half -}
  \BLOCK{- set right_item = hist_bins[right_idx] if right_idx < hist_bins|length else none -}
\VAR{- loop.index0 -} & [\VAR{ "%.2f"|format(left_item.left) }; \VAR{ "%.2f"|format(left_item.right) }) & \VAR{ left_item.freq } &
  \BLOCK{- if right_item -}
    \VAR{ right_idx } & [\VAR{ "%.2f"|format(right_item.left) }; \VAR{ "%.2f"|format(right_item.right) }) & \VAR{ right_item.freq }
  \BLOCK{- else -}
    & &
  \BLOCK{- endif -} \\
\BLOCK{ endfor }
\end{tblr}
\caption{Частотное распределение по интервалам $\Delta_i$}
\label{tab:histogram_frequencies}
\end{table}

Высота столбцов гистограммы находится по формуле:
\[
    h_i = \dfrac{\nu_i}{n\cdot l_i},\ i=\overline{0, \VAR{ hist_bins|length - 1 }}
\]

Итого имеем следующую таблицу для построения гистограммы:
\begin{table}[H]
\centering
\begin{tblr}{
    colspec = {|c|c|c||c|c|c|},
    hlines,
    vlines,
    cells = {c, m},
}
$i$ & $\Delta_i$ & $h_i$ & $i$ & $\Delta_i$ & $h_i$ \\
\BLOCK{ for left_item in hist_bins[:half] }
  \BLOCK{- set right_idx = loop.index0 + half -}
  \BLOCK{- set right_item = hist_bins[right_idx] if right_idx < hist_bins|length else none -}
\VAR{- loop.index0 -} & [\VAR{ "%.2f"|format(left_item.left) }; \VAR{ "%.2f"|format(left_item.right) }) & \VAR{ "%.4f"|format(left_item.height) } &
  \BLOCK{- if right_item -}
    \VAR{ right_idx } & [\VAR{ "%.2f"|format(right_item.left) }; \VAR{ "%.2f"|format(right_item.right) }) & \VAR{"%.4f"|format(right_item.height) }
  \BLOCK{- else -}
    & &
  \BLOCK{- endif -} \\
\BLOCK{ endfor }
\end{tblr}
\caption{Гистограмма распределения по интервалам $\Delta_i$}
\label{tab:histogram_heights}
\end{table}

Построим гистограмму по полученным данным:
\begin{figure}[H]
    \centering
    \includegraphics[width=0.8\textwidth]{\VAR{ sequence_hist_plot_path }}
    \caption{Гистограмма данной выборки (вариант \underline{\VAR{ variant_number|default(108) }})}
    \label{fig:histogram_plot}
\end{figure}