\subsection{Сгенерированная выборка}

\subsubsection{Генератор случайных величин}

Воспользуемся методом Монте-Карло для генерации случайных величин, распределённых по закону Эрланга.

\subsubsection{Выборочные моменты}

\dots

\subsubsection{Автокорреляционный анализ}

\dots

\subsubsection{Гистограмма выборки}

\dots

\subsubsection{Корреляционная зависимость}

\dots