\subsection{Ответы на вопросы}

\begin{enumerate}
\item \textbf{Какие задачи моделирования и управления решаются?}

В «Норникеле» решаются следующие задачи:
\begin{itemize}
\item подбор оптимальных параметров взрыва для моделирования буровзрывных работ;
\item анализ данных с датчиков и систем визуальной навигации для позиционирования техники и оборудования;
\item сбор данных и сквозная оптимизация процессов, обогащения и металлургии с помощью цифровой платформы Conundrum;
\item регулирование коэффициента кислорода в печи взвешенной плавки с помощью систем-советчиков;
\item обеспечение полного цикла производства импортных узлов и запчастей с использование компьютерного моделирования в 3D-печати;
\item видеоаналитика на базе компьютерного зрения для контроля за соблюдением правил промышленной безопасности.
\end{itemize}

\item \textbf{Какие разделы/формальные задачи ИИ задействованы?}

Из представленных на слайде разделов ИИ в «Норникеле» особо выделены следующие:
\begin{itemize}
\item \textit{знания предметной области (domain knowledge)} --- для моделирования процессов и оптимизации параметров;
\item \textit{разработка программного обеспечения (software development)} --- для создания систем-советчиков и цифровой платформы Conundrum;
\item \textit{наука о данных (data science)} --- для анализа данных с датчиков и систем визуальной навигации, а также для оптимизации процессов обогащения и металлургии;
\item \textit{прикладная математика (applied maths)} --- для моделирования буровзрывных работ и регулирования коэффициента кислорода в печи взвешенной плавки.
\end{itemize}

Остальные разделы, такие как \textit{мягкие навыки (soft skills)} и \textit{знания продуктовой области (product knowledge)}, также важны, но на них не был сделан акцент в представленном материале.

\item \textbf{Какие физико-химические признаки для них используются?}

В видео упоминаются следующие физико-химические признаки:

\begin{itemize}
\item \textbf{цифровой гранулометр:} размер руды, цвет для дальнейшего измельчения;
\item \textbf{измельчение руды:} объём руды и воды, обороты, загрузка мельницы;
\item \textbf{печи взвешенной плавки:} коэффициент кислорода, потери металла;
\item \textbf{продувка расплава:} спектр отходящих газов, потери металла;
\item \textbf{видеонаблюдение:} тип, количество, время и место нарушения.
\end{itemize}

\item \textbf{Укажите (предположите) для нескольких признаков: числовые или категориальные, временная и пространственная дискретность регистрации, сырой признак или агрегат по нескольким, сильно зашумленный, много ли пропусков, особенности закона распределения, потенциал для data leakage.}

Из описания признаков можно предположить некоторые их свойства:

\begin{featurestable}[
    caption = {Характеристики признаков, используемых в «Норникеле»},
]{colspec = {X[l,m] Q[l,m,2.3cm] Q[l,m,2.3cm] Q[l,m,2.3cm] Q[l,m,2.3cm]}}
Свойство & Объём руды & Коэффиц. кислорода & Спектр отходящих газов & Тип нарушения \\
\textbf{Тип признака} & Числовой (непрерывный) & Числовой (непрерывный) & Числовой (векторный) & Категори\-альный \\
\textbf{Дискрет\-ность: время} & Секунды & Секунды & Доли секунд & Доли секунд (кадры) \\
\textbf{Дискрет\-ность: пространство} & Средняя (в пределах участка) & Средняя (в пределах печи) & Высокая (в пределах трубы) & Средняя (в пределах зоны наблюдения камеры) \\
\textbf{Сырой или агрегат} & Агрегат & Агрегат & Сырой & Агрегат \\
\textbf{Зашум\-ленность} & Средняя & Низкая & Высокая & Высокая \\
\textbf{Пропуски} & Мало & Мало & Много (агрессивная среда) & Средние (мёртвые зоны) \\
\textbf{Особенности распределения} & Огранич., близко к нормаль\-ному & Нормальное & Асиммет\-ричное & Сильный дисбаланс (нарушения редки) \\
\textbf{Потенциал Data Leakage} & Низкий & Высокий (если меняется оператором) & Средний (учёт физической задержки движения газов) & Высокий (предсказываем уже возникшие инциденты) \\
\end{featurestable}

\end{enumerate}