\section{Выполнение работы}

\subsection{Модель источника постоянного тока}

Для моделирования источника постоянного тока в среде LTspice была воспроизведена следующая схема:
\begin{figure}[H]
    \centering
    \includegraphics[width=0.5\textwidth]{\VAR{ ltspice_circuit_path }}
    \caption{Схема источника постоянного тока в LTspice}
    \label{fig:ltspice_circuit}
\end{figure}

\subsection{Экспериментальные измерения}

\dots

\subsection{Расчёт ключевых параметров}

\dots

\subsection{Результаты обработки данных}

\dots