\section{Задание}

\textbf{Цель} данной работы — исследование характеристик источника электрической энергии постоянного тока.

\textbf{Задачи:}
\begin{enumerate}
    \item Смоделировать источник электрической энергии постоянного тока в среде LTspice по заданной конфигурации.
    \item Сделать серию измерений характеристик источника электрической энергии постоянного тока при различных сопротивлениях нагрузки.
    \item Рассчитать ключевые параметры источника электрической энергии постоянного тока на основе экспериментальных данных.
    \item Обработать полученные результаты в формате таблиц и графиков и сделать выводы.
\end{enumerate}

По \underline{варианту \VAR{ variant_number }} даны следующие данные:

% Таблица 1. Параметры источника
\begin{table}[H]
\centering
\label{tab:source_params}
\begin{tabular}{|l|c|c|}
\hline
\textbf{Наименование} & \textbf{Обозначение} & \textbf{Значение} \\ \hline
ЭДС источника & $E$ & 5,0 В \\ \hline
Внутреннее сопротивление & $r$ & 625 Ом \\ \hline
\end{tabular}
\caption{Параметры источника питания}
\end{table}

% Таблица 2. Значения сопротивления нагрузки
\begin{table}[h!]
\centering
\label{tab:load_params}
\begin{tabular}{|c|c||c|c|}
\hline
$\boldsymbol{i}$ & \textbf{$R_i$, Ом} & $\boldsymbol{i}$ & \textbf{$R_i$, Ом} \\ \hline
$1$ & $\infty$ & $7$ & 417 \\ \hline
$2$ & 5625     & $8$ & 268 \\ \hline
$3$ & 2500     & $9$ & 156 \\ \hline
$4$ & 1458     & $10$ & 69 \\ \hline
$5$ & 938      & $11$ & 0  \\ \hline
$6$ & 625      & \multicolumn{2}{c|}{—} \\ \hline
\end{tabular}
\caption{Значения сопротивления нагрузки $R_i$}
\end{table}