\section{Задание}

По \textbf{варианту \( \mathbf{ \VAR{ variant_number } } \)} дана последовательность вещественных чисел $\vec{a} = (a_1, a_2, \ldots, a_n)$, \( n = \VAR{ sequence_length } \). 

\begin{enumerate}
    \item Вычислить следующее:
    \begin{itemize}
        \item математическое ожидание \( M(a) \);
        \item дисперсию \( D(a) \);
        \item среднеквадратическое отклонение \( \sigma(a) \);
        \item коэффициент вариации \( V(a) \);
        \item доверительный интервал для математического ожидания \( M(a) \) с уровнем доверия \( \alpha \in \{0.9, 0.95, 0.99\} \);
        \item относительные отклонения (в процентах) полученных значений от наилучших значений, полагая, что наилучшими являются значения, которые рассчитаны для наиболее представительной выборки случайных величин.
    \end{itemize}

    \item Построить график значений для заданной числовой последовательности и определить ее характер, а именно:
    \begin{itemize}
        \item монотонность --- возрастающая/убывающая;
        \item периодичность --- оценить по графику длину периода (при наличии периодичности);
        \item является ли эта последовательность периодичной (при наличии периодичности оценить по графику длину периода);
    \end{itemize}

    \item Выполнить автокорреляционный анализ и определить, можно ли считать эту последовательность случайной.

    \item Построить гистограмму распределения частот для заданной числовой последовательности.

    \item Выполнить аппроксимацию закона распределения заданной случайной последовательности по двум начальным моментам, используя одно из следующих распределений:
    \begin{itemize}
        \item равномерный;
        \item экспоненциальный;
        \item нормированный Эрланга $k$-го порядка или гипоэкспоненциальный с заданным коэффициентом вариации;
        \item гиперэкспоненциальный с заданным коэффициентом вариации.
    \end{itemize}

    \item Реализовать генератор случайных величин в соответствии с полученным аппроксимирующим законом распределения и проиллюстрировать на защите его работу.

    \item Сгенерировать последовательность случайных величин в соответствии с полученным законом распределения и рассчитать значения числовых моментов по аналогии с заданной числовой последовательностью.

    \item Выполнить автокорреляционный анализ сгенерированной последовательности случайных величин.

    \item Выполнить сравнительный анализ сгенерированной последовательности случайных величин с заданной последовательностью, построив соответствующие зависимости на графике значений и гистограмме распределения частот.

    \item Оценить корреляционную зависимость сгенерированной и заданной последовательностей случайных величин.
\end{enumerate}